/* 
    Created on : 2016-07-12
    Author     : Piotr Grzywa
    E-mail     : p.grzywa83@gmail.com
*/



/* global */
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

    * {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }

    .anim {
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }

    html, body {
        margin: 0px;
        padding: 0px;


        background-image: url('img/background.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .main-container {
        display: block;
        height: auto;
        width: 450px;

        position: relative;
        left: 50%;
        top: 20px;

        margin-bottom: 30px;

        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }


    
/* head */
    .head {
        background-color: #c74040;
        font-size: 18px;
        text-align: center;
        padding: 10px;
        font-weight: 300;
        color: white;
        min-height: 48px;
    }



/* filter */
    .filter {
        background-color: #f06060;
        color: white;
    }

    .filter .item {
        cursor: pointer;
        margin: 10px;
        float: left;
    }

    .search.item {
        display: block;
        background-image: url('img/sprites.png');
        background-position: 0px -64px;
        width: 32px;
        height: 32px;
        float: left; 
        margin-left: 15px;
    }
    
    .search:hover {
        background-position: -32px -64px;
    }
    
    .filterText {
        float: left;
        margin-top: 16px; 
        font-size: 15px
    }

    .filterCode {
        float: left;
    }

    .filterValue {
        float: right; 
        margin-right: 30px;
    }

    .dSort {
        display: block;
        background-image: url('img/sprites.png');
        background-position: 0px -96px;
        width: 32px;
        height: 32px;
    }

    .dSort:hover {
        background-position: -32px -96px;
    }

    .dSort.activeASC {
        background-position: -32px -96px;
    }

    .dSort.activeDESC {
        background-position: -64px -96px;
    }



/* search */
    .search-container {
        width: 100%;
        background-color: #fff;
        display: none;
        text-align: center;
    }

    .search-container input {
        width: 90%;
        background: none;
        border: none;
        padding: 20px 10px;
        margin: 10px;
        border-bottom: 1px solid gainsboro;
        color: #414141;
        text-align: left;
    }

    .search-container button {
        width: 30%;
        padding: 15px 20px;
        display: block;
        text-align: center;
        cursor: pointer;
        float: right;
        border: none;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .search-container .resetButton {
        background-color: #fff;
        color: #f06060;
        margin-right: 10px;
        border: 1px solid #f06060;
    }

    .search-container .filterButton {
        background-color: #f06060;
        color: white;
        margin-right: 20px;
        border: 1px solid #f06060;
    }



/* filtered choice */
    .filteredContainer {
        clear: both;
        background-color: #c74040;
        display: none;
        padding: 10px 30px;
        color: white;
        font-weight: bold;
        font-size: 13px;
    }
    
    .searchChoice {
        border: 1px solid white;
        border-radius: 20px;
        display: inline-block;
        padding: 2px 5px 2px 10px;
        margin-right: 15px;
    }

    .searchChoice span {
        display: inline-block;
    }

    .searchChoiceClose {
        background-image: url('img/closeIcon.png');
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: 5px;
        padding-right: 15px;
        cursor: pointer;
    }

    .searchChoiceClose:hover {
        opacity: 0.5;
    }

    .searchChoice.reset {
        padding-right: 15px;
        padding-left: 15px;
        cursor: pointer;
        float: right;
        margin-right: 0px;
        display: inline-block;
    }

    .searchChoice.reset:hover {
        color: #c74040;
        background-color: white;
    }

    .searchChoice.quanity {
        border: none;
        font-weight: 300;
        float: right;
        display: inline-block;
    }

    #searchQuanity {
        font-weight: bold;
    }

    #choiceName span , #choiceCode span {
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }



/* body */
    .body {
        background-color: rgba(255,255,255,0.8);
    }

    .body .item {
        padding: 20px;
        border-bottom: 1px solid #cdcdcd;
    }

    .item .img {
        float: left;
        margin-right: 15px;
    }

    .item .code {
        font-size: 30px;
        color: #424242;
        font-weight: bold;
        float: left;
    }

    .item .ammount {
        float: right;
        font-size: 30px;
        color: #424242;
        font-weight: bold;
    }

    .item .name {
        width: 100%;
        clear: both;
        font-size: 15px;
        color: #414141;
        font-weight: 400;
        padding-top: 10px;
        padding-left: 50px;
    }


/* error message */
    .errorMessage {
        font-size: 20px;
        text-align: center;
        padding: 30px;
    }



/* pagination */
    .pagination-container {
        clear: both;
        display: block;
        width: 100%;
        background-color: #f06060;
        color: white;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        font-weight: 300;
        display: none;
        
        position: relative;
    }

    .pagin {
        padding: 10px;
        margin: 1px;
        display: inline-block;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    .pagin:hover {
        color: #c74040;
    }

    .pagin.active {
        font-weight: bold;
    }


    .paginExtreme {
        display: block;
        background-image: url('img/sprites.png');
        display: inline-block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin-top: 10px;
        position: absolute;
        top: 2px;
    }

    .paginExtreme:hover {
        background-position-x: -32px;
    }

    .paginExtreme.notActive {
        background-position-x: -32px;
        cursor: not-allowed;

    }

    .paginExtreme.first {
        background-position-y: 0px;
        left: 15px;

    }

    .paginExtreme.last {
        background-position-y: -32px;
        right: 15px;
    }









@media only screen and (max-width: 480px) {
    .main-container {
        width: 95%;
    }
    
    #choiceName span , #choiceCode span {
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .searchChoice.quanity {
        clear: both;
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }
}


@media only screen and (max-width: 405px) {
    .main-container {
        min-width: 300px;
    }
    
    .filterValue .filterText {
        width: 50px;
        margin-bottom: 10px;
    }
    
    .filterCode .filterText {
        width: 50px;
    }
    
    .search-container button {
        width: 42%;
    }

}
